.mainPage {
    position: relative;
    height: 1671px;
    background-color: #fff;
}

.introSection {
    position: relative;
    height: 577px;
    background-color: #f1f5f9;
}

.introCircle {
    position: absolute;
    top: 20%; /* 화면 높이의 20%에서 위치 */
    left: 20%; /* 화면 너비의 20%에서 위치 */
    width: 327px;
    height: 327px;
    border-radius: 50%;
    object-fit: contain; /* 이미지 비율 유지 */
}

.introText {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 519px;
    font-size: 64px;
    font-weight: medium;
}

.teamSpaces {
    position: relative;
    top: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
