.dashBoard {
  position: relative;
  height: 1671px;
  background-color: #fff;
  margin-bottom: 100px;
}

.title {
  position: absolute;
  left: 104px;
  top: 153px;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-weight: 700;
}

.search {
  position: absolute;
  left: 705px;
  top: 225px;
  width: 424px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 0px 8px;
}

.searchText {
  flex: 1;
  border: none;
  outline: none;
  font-family: "Noto Sans KR";
  font-size: 16px;
  color: #94a3b8;
}

.searchImg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  cursor: pointer;
}

.spaceCreateBtn {
  position: absolute;
  left: 1600px;
  top: 225px;
  width: 154px;
  height: 43px;
  background-color: #fbbf24;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.space {
  width: 430px;
  height: 370px;
  border-radius: 20px;
  border: 2px solid #fbbf24;
  margin: 23px;
  box-sizing: border-box;
  position: relative;
}

.spaceTitle {
  position: absolute;
  left: 25px;
  top: 40px;
  font-family: "Noto Sans KR";
  font-size: 40px;
  color: #000000;
  font-weight: 700;
}

.spaceLeader {
  position: absolute;
  left: 170px;
  top: 185px;
  font-family: "Noto Sans KR";
  font-size: 30px;
  color: #000000;
  font-weight: 700;
}

.spaceBtn {
  position: absolute;
  left: 236px;
  top: 291px;
  width: 157px;
  height: 46px;
  background-color: #fbbf24;
  color: white;
  border: none;
  border-radius: 10px;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spaceContainer {
  position: absolute;
  top: 376px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  box-sizing: border-box;
}
