.createSpacePage {
  position: relative;
  height: 1671px;
  background-color: #fff;
  margin-bottom: 100px;
}

.createSpace {
  position: relative;
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  box-sizing: border-box;
  width: 1076px;
  height: 646px;
  background-color: #fff;
  border-radius: 30px;
  border: 3px solid #fbbf24;
  margin: 206px auto;
  padding: 20px; /* 내부 여백 추가 */
}

.createSpaceTitle {
  position: absolute;
  font-size: 36px;
  color: #fbbf24;
  top: 62px;
  left: 436px;
  font-family: "Noto Sans KR";
  font-weight: 700;
}
